In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("vgsales.csv")

In [4]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
data2=data["EU_Sales"]   
data2

0        29.02
1         3.58
2        12.88
3        11.01
4         8.89
         ...
16593     0.00
16594     0.00
16595     0.00
16596     0.01
16597     0.00
Name: EU_Sales, Length: 16598, dtype: float64

### Centeral Tendencies of One cloumn over the data set

In [6]:
mean=data2.mean()     
median=data2.median()
mode=data2.mode().iloc[0]

In [7]:
print("mean of UA_Sales is ",mean)
print("median of UA_Sales is ",median)
print("mode of UA_Sales is ",mode)

mean of UA_Sales is  0.14665200626581515
median of UA_Sales is  0.02
mode of UA_Sales is  0.0

### Dimvergence of the data

In [8]:
Range_value=data2.max()-data2.min()  
Std_deviation=data2.std()

# Calculate the variance
variance = np.var(data2)

# Calculate the interquartile range
Q1 = np.percentile(data2, 25)  # Calculate the 25th percentile (Q1)
Q3 = np.percentile(data2, 75)  # Calculate the 75th percentile (Q3)
iqr = Q3 - Q1
print("range value is ",Range_value)
print("standard deviation is ",Std_deviation)
print("Variance is:", variance)
print("Interquartile Range (IQR) is:", iqr)

range value is  29.02
standard deviation is  0.5053512312869116
Variance is: 0.2553644807801055
Interquartile Range (IQR) is: 0.11

In [10]:
mean_UA_Sales = 0.14665200626581515
median_UA_Sales = 0.02
mode_UA_Sales = 0.0
range_value = 29.02
std_deviation = 0.5053512312869116
variance = 0.2553644807801055
iqr = 0.11

### Summary of the data

In [13]:
import pandas as pd
summary_df = pd.DataFrame({
    'Metric': ['Mean', 'Median', 'Mode', 'Range', 'Std Deviation', 'Variance', 'IQR'],
    'Value': [mean_UA_Sales, median_UA_Sales, mode_UA_Sales, range_value, std_deviation, variance, iqr]
})

print(summary_df)

          Metric      Value
0           Mean   0.146652
1         Median   0.020000
2           Mode   0.000000
3          Range  29.020000
4  Std Deviation   0.505351
5       Variance   0.255364
6            IQR   0.110000